*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #fff;

}

/*.....NAVIGATION.....*/
.navigation {
    display: none;
}

.nav-section {
    background-color: #fff;
    transition: all 300ms ease;
}

.nav-section.sticky {
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 8rem;

}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}

.nav-item {
    list-style: none;
    margin-right: 3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-style: normal;
}

.nav-link {
    color: #121933;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
}

.nav-link-home {
    color: #5E44FF;
    font-weight: 600;
    font-size: 1.6rem;

}

.nav-btn-text {
    font-size: 1.6rem;
    color: #FBFAFF;
    background-color: #5E44FF;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
}

#menu-icon {
    display: none;
    color: #1F1755;
    z-index: 10001;
    cursor: pointer;
    font-size: 2.3rem;
}

/*.....HEADER-HERO.....*/

.header {
    background-image: url(img/Hero\ section.png);
    background-size: cover;
    background-position: center;
    padding: 0 8rem;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16rem;

}

.header-details {
    flex-basis: 50%;
    padding-right: 12rem;

}

.heading {
    color: #121933;
    font-size: 4rem;
    font-weight: 700;


}

.heading-span {
    color: #5e44ff;
}

.header-text {
    color: #2f2e33;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.header-btn-box {
    display: flex;
}

.header-btn {
    color: #fff;
    background-color: #1F1755;
    padding: 1rem 5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-btn:not(:last-child) {
    margin-right: 2rem;
}



.header-image {
    width: 40%;
}

/*.....ABOUT-US.....*/
.about {
    padding: 0 8rem;
    background-color: #FBFAFF;
}

.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.about-image {
    width: 50%;
}

.about-details {
    flex-basis: 61%;
}

.about-heading {
    font-size: 2.5rem;
    color: #5e44ff;
    margin-bottom: 2rem;
    font-weight: 500;
}

.about-paragraph {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: #2F2E33;
    font-weight: 500;
    line-height: 3rem;
    text-align: justify;
}

.about-btn {
    text-decoration: none;
    background-color: #e9e5ff;
    color: #5e44ff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem;
    border-radius: 1.2rem;
}

/*.....FEATURES.....*/
.features {
    padding: 3rem 8rem;
    background-color: #FBFAFF;
}

.feature-heading {
    color: #121933;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 8rem;
}

.feature-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-box {
    padding: 0;
}

.feature-box:not(:last-child) {
    padding-right: 10rem;
}

.feature-image {
    margin-bottom: 2.3rem;
}

.feature-secondary {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #121933;
    font-weight: 500;
}

.feature-paragraph {
    font-size: 1.5rem;
    color: #4E4C55;
    font-weight: 500;
    line-height: 2.7rem;

}


/*.....PAYMENT.....*/
.payment {
    padding: 15rem 8rem 0rem 8rem;
    background-color: #FBFAFF;

}

.payment-heading {
    text-align: center;
    font-size: 2.5rem;
    width: 40%;
    margin: auto;
    color: #121933;
    font-weight: 500;
}

.payment-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    margin-bottom: 8rem;
}



.payment-details {
    padding-top: .5rem;
    width: 50%;
}

.payment-details:not(:last-child) {
    margin-bottom: 5rem;
}

.payment-head {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.payment-icon {
    margin-right: 2rem;
    width: 8%;
}

.payment-secondary {
    font-size: 2rem;
    color: #121933;
    font-weight: 500;
}

.payment-text {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    color: #4E4C55;
}



.payment-image {
    width: 40%;
    height: auto;

}

.payment-btn-box {
    text-align: center;
}

.payment-btn {
    text-decoration: none;
    background-color: #e9e5ff;
    color: #5e44ff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.5rem 3.5rem;
    border-radius: 1.2rem;

}

/*.....WORK.....*/
.work {
    padding: 15rem 8rem;
    background-color: #FBFAFF;
}

.work-heading {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #121933;

}

.work-box {
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.work-details {
    flex-basis: 50%;
}

.work-secondary {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

.work-steps {
    display: flex;
    align-items: center;
}

.work-btn {
    margin-top: 4rem;
}

.work-steps:not(:last-child) {
    margin-bottom: 1rem;
}

.work-check {
    margin-right: 1rem;
}

.work-paragraph {
    font-size: 1.5rem;
    color: #2A2C37;
    font-weight: 500;
}



.work-image {
    width: 45%;
}

.work-btn {
    margin-top: 4rem;
}

/*.....GROW.....*/
.grow {
    background-color: #1F1755;
    color: #fff;

}

.grow-box {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 8rem;
    padding-bottom: 1rem;
}

.grow-text {
    padding-top: 7rem;
    padding-right: 10rem;
    flex-basis: 40%;

}

.grow-heading {
    font-size: 3.5rem;
    margin-bottom: 10rem;
    color: #FBFAFF;
    font-weight: 700;
    line-height: 5rem;
}

.grow-btn {
    text-decoration: none;
    background-color: #e9e5ff;
    color: #5e44ff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.5rem 4rem;
    border-radius: 1.2rem;

}

.grow-img {
    width: 40%;
}

/*.....FOOTER.....*/
.footer {

    padding: 15rem 8rem 5rem 8rem;

    background-image: url(/img/footer.png);
    background-position: center;
    background-size: cover;

}

.footer-box {
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    width: 40%;
    margin-bottom: 2rem;
}

.footer-paragraph {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: #121933;
    font-weight: 500;
}


/*...menu...*/


.menu-heading {
    color: #1f1755;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.menu-list {
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-bottom: 1rem;

}

.menu-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(18, 25, 51, 0.8);
    font-weight: 500;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    font-size: 1.3rem;
    color: #121933;
}



.copyright-icon {

    font-size: 1rem;
}

.copyright-link {
    text-decoration: none;
    color: #FBFAFF;
    background-color: #121933;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.copyright-link:not(:last-child) {
    margin-right: 1.3rem;
}

.btn {
    margin-right: 1rem;
}



/* .navigation {}

.checkbox {
    display: none;

}

.button {
    background-color: #1F1755;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, .1);
    text-align: center;
    cursor: pointer;
}

.background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 6.5rem;
    background-color: #fff;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

}

.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1500;
    width: 0;
    opacity: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;

}

.item {
    margin: 1rem;

}

.link:link,
.link:visited {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    display: inline-block;
    color: #5E44FF;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 225%;
    transition: all .2s;
}

.link:hover,
.link:active {
    background-position: 100%;
    transform: translateX(1rem);
    background-color: #86592d;
    border-radius: .4rem;
}


.checkbox:checked~.background {
    transform: scale(80);
}

.checkbox:checked~.nav {
    opacity: 1;
    width: 100%;

} */



/* .icon {
    position: relative;
    margin-top: 3.5rem;
}

.icon,
.icon::before,
.icon::after {
    margin-top: 3rem;
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.icon::before {
    top: -.8rem;
    margin-left: 2rem;
}

.icon::after {
    top: .8rem;
    margin-left: 2rem;
}



.button:hover .icon::before {
    top: -1rem;
}

.button:hover .icon::after {
    top: 1rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
} */